.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
}

.content {
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    bottom: 0;
}

footer p {
    font-size: 1rem;
    color: black;
}