section {
    width: 100%;
    height: 60vh;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img {
    border-radius: 10px;
    margin: 10px auto;
    width: 85%;
    height: auto;
    max-height: 85%;
}

section .card {
    border-radius: 20px;
    background-color: white;
    width: 30%;
    height: 25vh;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 10px;
    top: 41%;
    right: 50%;
}

button {
    margin-top: 25px;
    margin-right: 10px;
    border: none;
    border-radius: 50px;
    width: 25%;
    height: 35px;
    background-color: #ccc;
}

button:hover {
    background-color: #ddd;
    color: violet;
}